ion-header.title-header {
    ion-toolbar {
        --background: transparent;

        ion-title {
            font-size: 1.5rem !important;
        }
    }

    ion-segment-button {
        font-size: 1rem;
        --color-checked: var(--ion-color-main);
    }
}

.col-popover {
    display: flex;
    flex-direction: column;

    ion-label {
        width: 100%;
        text-align: start;
    }
}