<ion-header class="title-header">
  <ion-toolbar class="ion-color-main">

    <ion-title><b>Aluguel Chácara</b></ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" id="main-popover" color="dark">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-popover #mainPopover trigger="main-popover" triggerAction="click">
      <ng-template>
        <div class="col-popover">
          <ion-button expand="full" fill="clear" class="ion-text-center" color="danger" (click)="logout()">
            <ion-icon aria-hidden="true" slot="end" ios="log-out-outline" md="log-out-sharp"></ion-icon>
            <ion-label class="ion-padding-start ion-padding-end">Logout</ion-label>
          </ion-button>
          <ion-button expand="block" class="ion-text-center" color="danger" (click)="newDeleteAccount()">
            <ion-icon aria-hidden="true" slot="end" ios="trash-outline" md="trash-sharp"></ion-icon>
            <ion-label class="ion-padding-start ion-padding-end">Excluir Conta</ion-label>
          </ion-button>
        </div>

        <app-delete-account [openDeleteAccount]="openDeleteAccount" (dismissDelete)="onDismissDelete()"
          (changeDeleteAccount)="changeDeleteAccount($event)"
          (deleteAccount)="confirmDelete($event)"></app-delete-account>
      </ng-template>
    </ion-popover>
  </ion-toolbar>

  <ion-segment mode="md" value="chats" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="calendar" contentId="calendar" class="ion-color-main">
      <ion-label>Calendário</ion-label>
    </ion-segment-button>

    <ion-segment-button value="chats" contentId="chats">
      <ion-label>Mensagens</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>