<ion-item lines="none" [class]="message.owner.sub == self.sub ? 'self' : 'user'">
  <ion-label [slot]="message.owner.sub == self.sub ? 'end' : 'start'" class="ion-text-wrap">
    <ion-text>{{message.content}}</ion-text>
    <ion-note *ngIf="isMessage(message)">
      <small>{{message.createdAt | date: 'HH:mm'}}</small>
      <ion-icon *ngIf="message.owner.sub == self.sub && (chat.users.length) as users" [color]="message.visualizedBy.length == users - 1 ? 'primary' : 'medium'" aria-hidden="true" ios="checkmark-done-outline" md="checkmark-done-sharp"></ion-icon>
    </ion-note>
    <ion-note *ngIf="!isMessage(message)">
      <small>{{message.sendAt | date: 'HH:mm'}}</small>
      <ion-icon *ngIf="message.owner.sub == self.sub" aria-hidden="true" ios="time-outline" md="time-sharp"></ion-icon>
    </ion-note>
  </ion-label>
</ion-item>