ion-item {
    --min-height: 0;
    --background: transparent;

    &.self {
        ion-label {
            background: color-mix(in srgb, var(--ion-color-main) 50%, var(--ion-color-light) 50%);

            ion-note {
                color: #bbb;
            }
        }
    }
    
    &.user {
        ion-label {
            background: var(--ion-color-light);
        }
    }

    ion-label {
        padding: .25em .65em;
        margin: .15em 0;
        max-width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
        border-radius: .5em;
        gap: 0 .5em;
        width: auto;
        flex: 0 1 auto;

        ion-text {
            flex-shrink: 1;
            word-break: break-word;
        }

        ion-note {
            display: flex;
            gap: .2em;
            pointer-events: none;
        }
    }
}