ion-header.title-header {
    .back-button {
        display: flex;
        margin-right: 1em;

        ion-avatar {
            flex-shrink: 0;
            height: 2.4rem;
            width: 2.4rem;
        }
    }
}

ion-toolbar {
    --background: var(--ion-background-color);
}

#main-spinner {
    height: 4rem;
    width: 4rem;
}

.flex-center {
    gap: 1em;

    ion-title {
        flex: 0;
    }

    * {
        text-align: center;
    }
}