<ion-modal #delete_account id="delete-modal" [isOpen]="openDeleteAccount" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (willDismiss)="onDismissDelete()">
  <ng-template>
    <ion-title class="ion-padding desc">
      <b>Tem certeza de que deseja excluir sua conta? Esta ação não pode ser desfeita.</b>
    </ion-title>
    <div class="buttons ion-padding-start ion-padding-end ion-padding-bottom">
      <ion-button expand="block" color="danger" (click)="confirmDelete()">Excluir</ion-button>
      <ion-button expand="block" color="medium" fill="outline" (click)="cancelDelete()">Cancelar</ion-button>
    </div>
  </ng-template>
</ion-modal>