ion-item {
    cursor: pointer;

    .description-message {
        display: flex;
        align-items: center;
        gap: .25em;

        ion-icon {
            flex-shrink: 0;
        }

        ion-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}