<ion-item (click)="sendClick()">
  <ng-container *ngIf="privateChat">
    <ng-container *ngIf="privateChat.users.length == 1 &&
    (privateChat.users[0]) as user">
      <ion-avatar slot="start">
        <img [src]="user.picture" referrerpolicy="no-referrer" />
      </ion-avatar>
      <ion-label>
        <b>{{user.name}} (Você)</b>
        <p *ngIf="message && (message.owner.sub == sub) as self">
          <ion-text>
            {{self ? 'Você' : message.owner.name}}: {{message.content}}
          </ion-text>
        </p>
      </ion-label>
    </ng-container>

    <ng-container *ngIf="privateChat.users.length == 2 &&
    (privateChat.users[0].sub == sub ? privateChat.users[1] : privateChat.users[0]) as user">
      <ion-avatar slot="start">
        <img [src]="user.picture" referrerpolicy="no-referrer" />
      </ion-avatar>
      <ion-label>
        <b>{{user.name}}</b>
        <p *ngIf="message && (message.owner.sub == sub) as self">
          <ion-text>
            {{self ? 'Você' : message.owner.name}}: {{message.content}}
          </ion-text>
        </p>
      </ion-label>
    </ng-container>
  </ng-container>
  <ion-text slot="end" color="medium" *ngIf="details && message">{{message.createdAt | date: 'HH:mm'}}</ion-text>
</ion-item>