<ion-item (click)="sendClick()">
  <ng-container *ngIf="privateChat">
    <ng-container *ngIf="privateChat.users.length == 1 &&
    (privateChat.users[0]) as user">
      <ion-avatar slot="start">
        <img [src]="user.picture" referrerpolicy="no-referrer" />
      </ion-avatar>
      <ion-label>
        <b>{{user.name}} (Você)</b>
        <p *ngIf="message" class="description-message">
          <ng-container *ngIf="message.owner.sub == sub">
            <ion-icon *ngIf="(privateChat.users.length) as users" color="primary" aria-hidden="true" ios="checkmark-done-outline" md="checkmark-done-sharp"></ion-icon>
            <ion-text>{{message.content}}</ion-text>
          </ng-container>
          <ion-text *ngIf="message.owner.sub != sub">{{message.content}}</ion-text>
        </p>
      </ion-label>
    </ng-container>

    <ng-container *ngIf="privateChat.users.length == 2 &&
    (privateChat.users[0].sub == sub ? privateChat.users[1] : privateChat.users[0]) as user">
      <ion-avatar slot="start">
        <img [src]="user.picture" referrerpolicy="no-referrer" />
      </ion-avatar>
      <ion-label>
        <b>{{user.name}}</b>
        <p *ngIf="message" class="description-message">
          <ion-icon *ngIf="message.owner.sub == sub && (privateChat.users) as users" [color]="message.visualizedBy.length == users.length ? 'primary' : 'medium'" aria-hidden="true" ios="checkmark-done-outline" md="checkmark-done-sharp"></ion-icon>
          <ion-text>{{message.content}}</ion-text>
        </p>
      </ion-label>
    </ng-container>
  </ng-container>
  <ion-text slot="end" color="medium" *ngIf="details && message">{{message.createdAt | date: 'HH:mm'}}</ion-text>
</ion-item>